{% extends 'base.html' %}
{% block title %}
    Update
{% endblock title %}


{% block content %}

    <div class="row ">
        <div class="col-md-8 mx-auto">
            <h4 class="text-center my-2">
                User update settings
            </h4>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Save!</button>
            </form>
            <form action="{% url 'delete' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger my-3">Delete!</button>
            </form>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-8 mx-auto">
            <p class="text-center my-2">
                You can fill city and language if you want new vacancies. You`ll be notified by email.
            </p>
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ contact_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Send!</button>
            </form>

        </div>
    </div>




{% endblock content %}